Source: hadori
Section: utils
Priority: extra
Maintainer: Timo Weingärtner <timo@tiwe.de>
Build-Depends: debhelper (>= 9), libboost-program-options-dev, zlib1g-dev
Standards-Version: 3.9.4
Homepage: https://github.com/tiwe-de/hadori
Vcs-Git: git://github.com/tiwe-de/hadori.git -b debian
Vcs-Browser: https://github.com/tiwe-de/hadori/tree/debian

Package: hadori
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Hardlinks identical files
 This might look like yet another hardlinking tool, but it is the only one
 which only memorizes one filename per inode. That results in less merory
 consumption and faster execution compared to its alternatives. Therefore
 (and because all the other names are already taken) it's called
 "HArdlinking DOne RIght".
 .
 Advantages over other hardlinking tools:
  * predictability: arguments are scanned in order, each first version is kept
  * much lower CPU and memory consumption
  * hashing option: speedup on many equal-sized, mostly identical files
